#like {
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border : 1px solid #ddd;
    height: 120px;
}

#like:hover {
    background-color: #ddd;
}

#img {
    height: 100%;
}


#imgDiv {
    float: left;
}


#infoDiv {
    margin: 0px 0px 0px 110px;
}


#app {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px;
    font : 20px helveticaneue-light;   
}

h1 {
    font : 16px helveticaneue-light;
    margin: 0px;
}

h2 {
    font : 16px helveticaneue-thin;
    margin: 0px;
}

.button {
    margin: 0px;
}
